[user]
	name = Michele
	email = mtitolo@github.com
[core]
	excludesfile = /Users/mtitolo/.gitignore_global
[web]
	browser = ch
[instaweb]
	browser = ch
[browser "ch"]
	cmd = open -a \"/Applications/Google Chrome.app\"
[color]
	ui = true
[alias]
  co = checkout
  ci = commit
  rb = rebase
  sync = !git pull --rebase && git push
  st = status
[push]
	default = current
